<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns         = "http://www.w3.org/ns/widgets"
        xmlns:gap     = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id            = "nl.oli4jansen.babble"
        version       = "0.0.6">

    <name>Babble</name>

    <description>
        Babble. Tinder zonder foto's. Foto's zichtbaar na 25 chatberichten. Yeah beaches.
    </description>

    <author href="http://oli4jansen.nl" email="oli4jansen.nl@gmail.com">
        Olivier Jansen
    </author>

    <preference name="permissions"                value="none"/>
    <preference name="phonegap-version"           value="3.4.0" />
    <preference name="orientation"                value="portrait" />
    <preference name="target-device"              value="universal" />
    <preference name="disable-cursor"             value="false" />
    <preference name="android-minSdkVersion"      value="13" />
    <preference name="exit-on-suspend"            value="false" />
    <preference name="android-installLocation"    value="auto" />

    <!-- Plugins -->
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.camera" version="0.2.4" />
    <gap:plugin name="org.apache.cordova.file" version="1.0.1" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.2" />
    <gap:plugin name="org.apache.cordova.device" />

    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
        <param name="APP_ID" value="1432398570331786" />
        <param name="APP_NAME" value="Babble" />
    </gap:plugin>

    <gap:plugin name="com.ququplay.websocket.websocket" version="0.1.0" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
    <gap:plugin name="com.dileep.plugins.datepicker" version="0.0.1" />

    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />

    <icon src="res/icon/android/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:density="mdpi" />
    <icon src="res/icon/android/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:density="hdpi" />
    <icon src="res/icon/android/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="res/icon/android/drawable-xxhdpi/ic_launcher.png" gap:platform="android" gap:density="xxhdpi" />
    <icon src="res/icon/android/drawable-xxxhdpi/ic_launcher.png" gap:platform="android" gap:density="xxxhdpi" />

    <gap:splash src="res/screen/android/drawable-mdpi/splash.9.png" gap:qualifier="mdpi" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/drawable-hdpi/splash.9.png" gap:qualifier="hdpi" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/drawable-xhdpi/splash.9.png" gap:qualifier="xhdpi" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="res/screen/android/drawable-xxhdpi/splash.9.png" gap:qualifier="xxhdpi" gap:platform="android" gap:density="xxhdpi" />

    <gap:config-file platform="android" parent="/manifest">
    	<application android:theme="@android:style/Theme.Holo.Light.NoActionBar"></application>
    </gap:config-file>

    <access origin="*"/>

</widget>
