<div ng-init="init()">
	<div id="content">

		<button ng-if="olderMessagesAvailable" ng-click="getOlderMessages()">Older messages</button>

		<div id="{{message.id}}" class="chatMessage" ng-class="{myMessage: message.myMessage==true}" ng-repeat="message in messages | orderBy:'+id'">
			<span>{{message.body}}</span>
			<small>{{message.time}}</small>
		</div>
		
	</div>
	<div id="inputDiv">
		<input type="text" id="input" disabled="disabled" placeholder="{{status}}" />
		<a id="submitMessage">Send</a>
	</div>
</div>
