<div ng-init="init()">
	<form action="" method="post" id="completeProfileForm">
		<ul rn-carousel rn-carousel-indicator rn-carousel-control class="form-carousel">
			<li>
		    <div class="form-section">
					<label class="section-header">Add your picture</label>
					<p class="section-note">This will only be visible for matches that you've chatted with.</p>
		      <div id="images"><div style="background-image:url({{picture.url}})" ng-click="removePicture($index)" ng-repeat="picture in pictures">-</div><button ng-click="selectPicture()">+</button></div>
		    </div>
			</li><li>
				<div class="form-section">
					<label class="section-header" for="birthday">Birthday</label>
					<label><input type="text" ng-click="pickDate($event)" id="birthday" name="birthday" ng-value="chosenDate"></label>
				</div>

				<div class="form-section">
					<label class="section-header" for="location">Location</label>
					<label><input type="text" id="location" name="location" value="{{user.location}}" placeholder="City, State/Province, Country"></label>
				</div>

				<div class="form-section">
					<label class="section-header">Sexual orientation</label>
			  	<label class="checkbox">Men<input type="checkbox" id="checkboxMen" name="likeMen" value="1"></label><label class="checkbox">Women<input type="checkbox" id="checkboxWomen" name="likeWomen" value="1"></label>
			  </div>
			</li><li>
				<div class="form-section">
					<label class="section-header">Biography</label>
						<label><textarea name="description" rows="4" maxlength="140">{{user.description}}</textarea></label>
				</div>
			</li><li>
				<h1 class="main-title">All done!</h1>
				<p class="intro-text centered">You're all set up! You can start Babbling right now.</p>

				<div class="form-section">
					<button class="full-width rounded green" ng-click="start()">{{status}} <i class="ion-ios7-arrow-right"></i></button>
					<button class="full-width rounded red" ng-click="deleteAccount()">Delete and sign out <i class="ion-ios7-trash-outline"></i></button>
				</div>
			</li>
		</ul>
	</form>

</div>
