<div ng-init="init()">
   	<div class="cards relative">
   		<div class="card current name-card" id="userPicture"><h2>{{user.name}}</h2></div>
   	</div>

	<form action="" method="post" id="completeProfileForm">
		<div class="form-section">
			<label class="section-header">Biography</label>
		    <label><textarea name="description" rows="4" maxlength="140">{{user.description}}</textarea></label>
		</div>

		<div class="form-section">
			<label class="section-header" for="birthday">Birthday</label>
			<label><input type="text" ng-click="pickDate($event)" id="birthday" name="birthday" ng-value="chosenDate"></label>
		</div>

		<div class="form-section">
			<label class="section-header" for="location">Location</label>
			<label><input type="text" id="location" name="location" value="{{user.location}}" placeholder="City, State/Province, Country"></label>
		</div>

		<div class="form-section">
			<label class="section-header">Sexual orientation</label>
	   		<label class="checkbox">Men<input type="checkbox" id="checkboxMen" name="likeMen" value="1"></label><label class="checkbox">Women<input type="checkbox" id="checkboxWomen" name="likeWomen" value="1"></label>
	   	</div>

   		<button class="full-width rounded green" ng-click="start()">{{status}} <i class="ion-ios7-arrow-right"></i></button>
   	</form>

	<div class="form-section">
   		<button class="full-width rounded red" ng-click="deleteAccount()">Delete and sign out <i class="ion-ios7-trash-outline"></i></button>
   	</div>

</div>
