<div ng-init="init()">
   	<div class="cards relative">
   		<div class="card current name-card" id="userPicture"><h2 class="loader">{{user.name}}</h2></div>
   	</div>

	<form action="" method="post" id="settingsForm">

    <div class="form-section">
      <label class="section-header">Pictures</label>
      <div id="images">
        <img ng-src="image.url" ng-repeat="image in images">
      </div>
      <label><button ng-click="selectPicture()">Upload a picture</button></label>
    </div>

    <div class="form-section">
      <label class="section-header">Biography</label>
        <label><textarea name="description" rows="4" maxlength="140">{{user.description}}</textarea></label>
    </div>

		<div class="form-section">
			<label class="section-header">Sexual orientation</label>
	   		<label class="checkbox">Men<input type="checkbox" id="checkboxMen" name="likeMen" value="1"></label><label class="checkbox">Women<input type="checkbox" id="checkboxWomen" name="likeWomen" value="1"></label>
	   	</div>

		<div class="form-section">
			<label class="section-header">Search radius (in km)</label>
  		<label><input type="number" id="searchRadius" name="searchRadius" value="{{user.searchRadius}}" max="5000"></label>
  	</div>

    <button class="full-width rounded green" ng-click="update()">{{updateButtonStatus}} <i class="ion-ios7-arrow-right"></i></button>
  </form>

	<div class="form-section">
   		<button class="full-width rounded red" ng-click="deleteAccount()">{{deleteButtonStatus}} <i class="ion-ios7-trash-outline"></i></button>
   	</div>
</div>
