/* variables */
/* general */
.rn-carousel-container {
  overflow: hidden;
  position: relative; }

.rn-carousel-slides {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  white-space: nowrap;
  overflow: visible;
  padding: 0;
  margin: 0; }

/* IE 9 */
:root .rn-carousel-slides {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  white-space: nowrap;
  overflow: visible;
  padding: 0;
  margin: 0; }

.rn-carousel-slide {
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

/* indicators */
.rn-carousel-indicator {
  width: 100%;
  height: 8px;

  text-align: center;
  vertical-align: top;

  line-height: 0;

  background-color: transparent;

  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  z-index: 9999999999; }
  .rn-carousel-indicator span {
    height: 8px;
    background: #2798D4;
    opacity: .5;
    padding: 0;
    width: 25%;
    margin: 0;
    top: 0;
    display: inline-block;
  }
  .rn-carousel-indicator .active {
    background-color: #2798D4;
    opacity: 1;}

/* controls */
.rn-carousel-control {
  height: 48px;
  font-size: 35px;
  z-index: 999999999999999;
  position: fixed;
  top: 0;
  cursor: pointer; }
  .rn-carousel-control.rn-carousel-control-prev {
    left: 10px; }
    .rn-carousel-control.rn-carousel-control-prev:after {
      content: "Previous";
      color: white;
      font-family: 'Roboto Condensed';
      font-size: 18px;
      font-weight: 300;
      line-height: 46px;
      padding-left: 10px;
      vertical-align: top;
    }
    .rn-carousel-control.rn-carousel-control-prev:before {
      display:inline-block;
      color: white;
      font-family:"Ionicons";
      speak:none;
      font-style:normal;
      font-weight:normal;
      font-variant:normal;
      text-transform:none;
      text-rendering:auto;
      line-height:1;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      content: "\f153";
     }
  .rn-carousel-control.rn-carousel-control-next {
    right: 10px; }
    .rn-carousel-control.rn-carousel-control-next:before {
      content: "Next";
      color: white;
      font-family: 'Roboto Condensed';
      font-size: 18px;
      font-weight: 300;
      line-height: 46px;
      padding-right: 10px;
      vertical-align: top;
    }
    .rn-carousel-control.rn-carousel-control-next:after {
      display:inline-block;
      color: white;
      font-family:"Ionicons";
      speak:none;
      font-style:normal;
      font-weight:normal;
      font-variant:normal;
      text-transform:none;
      text-rendering:auto;
      line-height:1;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      content: "\f154";
   }
