@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("opentype");
}
@font-face {
	font-family: "Roboto Condensed";
	src: url("../fonts/RobotoCondensed-Regular.ttf") format("opentype");
}
@font-face {
	font-family: "Roboto Condensed Light";
	src: url("../fonts/RobotoCondensed-Light.ttf") format("opentype");
}

* {
	margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;

    /* The better box model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Fixing iOS/Win8 text fails */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	font-family: "Roboto";
}

::-webkit-input-placeholder {
	color: #fff;
}
:-moz-placeholder {
	color: #fff;
}
::-moz-placeholder {
	color: #fff;
}
:-ms-input-placeholder {
	color: #fff;
}

html, body {
	height: 100%;
	overflow: auto;
	background-color: #31A2F9;
	background-color: #2798D4;
	color: #4c4c4c;
	color: white;
	background-size: cover;
	background-position: center;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Condensed"
}
h1 {
	font-family: "Roboto Condensed Light";
	text-align: center;
	padding: 30px 0 5px;
	font-size: 48px;
}
h2 {
	text-align: center;
	font-weight: 300;
	padding: 20px 0 5px;
}
img { vertical-align: top; }

.btn, button {
	background-color: #fff;
	border: 0;
	-webkit-appearance: none;
	color: #4c4c4c;
	border-radius: 0;
	padding: 15px 25px;
	line-height: 24px;
	font-size: 18px;
	outline: none;
	position: relative;
}
	.btn i, button i {
		float: right;
		font-size: 25px;
	}
	.white {
		background-color: rgba(255,255,255,0.25);
		color: white;
	}
	.facebook {
		background-color: #233F5A;
		color: white;
	}
	.red {
		background-color: #d94c30;
		color: white;
	}
	.green {
		background-color: #27D42E;
		color: white;
	}
	.btn.rounded, button.rounded {
		border-radius: 100px;
		margin: 5px 0;
	}
.full-width {
	width: 100%;
}
.half-width {
	width: 50%;
	display: inline-block;
}
.intro-text {
	padding: 25px 25px 35px !important;
}
.hidden {
	display: none;
}

textarea, input[type=text], input[type=number], input[type=date] {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 15px;
	font-size: 16px;
	line-height: 25px;

	color: rgba(255,255,255,0.75);

	outline: none;
	border: none;
	background-color: transparent;
	background: bottom left 	-webkit-linear-gradient(#fff, #fff) no-repeat,
				bottom center 	-webkit-linear-gradient(#fff, #fff) repeat-x,
				bottom right 	-webkit-linear-gradient(#fff, #fff) no-repeat;
	background: bottom left 	-moz-linear-gradient(#fff, #fff) no-repeat,
				bottom center 	-moz-linear-gradient(#fff, #fff) repeat-x,
				bottom right 	-moz-linear-gradient(#fff, #fff) no-repeat;
	background: bottom left 	-o-linear-gradient(#fff, #fff) no-repeat,
				bottom center 	-o-linear-gradient(#fff, #fff) repeat-x,
				bottom right 	-o-linear-gradient(#fff, #fff) no-repeat;
	background: bottom left 	linear-gradient(#fff, #fff) no-repeat,
				bottom center 	linear-gradient(#fff, #fff) repeat-x,
				bottom right 	linear-gradient(#fff, #fff) no-repeat;
	background-size: 1px 5px, 1px 1px, 1px 5px;

	-webkit-appearance: none;
    -webkit-user-modify: read-write-plaintext-only;
}
input[type=checkbox] {
	border: 2px solid #fff;
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	outline: none;
	position: relative;
	margin: 15px 10px;
	margin-right: 15px;
	float: right;
	border-radius: 10px;
}
input[type=checkbox]:checked {
	background-color: #fff;
}
label {
	display: block;
	text-align: left;
	padding: 10px 5px 0;
	vertical-align: top;
}
label.section-header {
	font-size: 1.25em;
}
label.checkbox {
	line-height: 45px;
	padding-left: 20px;
	color: rgba(255,255,255,0.75);
}
.form-section {
	margin-bottom: 30px;
}

.header {
/*	background-color: #d94c30;
	border-bottom: 1px solid #bc3b20;
	border-top: 1px solid #ef5435;*/
	background-color: transparent;
	color: #fff;
	text-align: center;
	padding: 0;
	line-height: 46px;
	height: 48px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999999999999999999999999;
/*	box-shadow: 0 1px 0px 1px rgba(0,0,0,0.1);*/

	box-shadow: inset 0 40px 25px -10px #2798D4;

	-webkit-transition: .3s;
	transition: .3s;
}
	.header h1 {
		font-family: "Roboto Condensed";
		font-size: 18px;
		font-weight: 300;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		text-align: center;
		z-index: 0;
		text-align: left;
		padding: 0;
		padding-left: 50px;
	}
	.header .menu-item, .header .menu-item-back {
		display: inline-block;
		position: absolute;
		top: 0;
		height: 48px;
		font-size: 35px;
		padding: 0 15px;
		display: none;
		z-index: 999999;
	}
	.header .left { left: 0; }
	.header .right { right: 0; }

.container {
	background-color: transparent;
	height: 100%;
	width: 100%;
	overflow: auto;
	z-index: 99;
	display: block;
	padding: 50px 15px 0;
	position: absolute;
	overflow-x: hidden;

	-webkit-transition: .3s;
	transition: .3s;
}
body.popup .container {
	-webkit-filter: blur(1px) brightness(.75);
}

	.cards {
		display: block;
		text-align: center;
		padding: 60px;
		position: relative;
		max-width: 400px;
		margin: 0 auto;
	}
	.cards.relative {
		padding: 0;
	}
		.cards .card {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0;
			background-color: #fff;
			color: #4c4c4c;
			border-radius: 0;
			width: 96%;
			margin: 0 2% !important;
			z-index: 10;
			background-size: cover;
			background-position: center;
			border: none;
			/*-webkit-transition: margin .3s, width .3s, background-color .3s;
			transition: margin .3s, width .3s, background-color .3s;*/
			-webkit-transition: margin .1s, width .1s;
			transition: margin .1s, width .1s;
		}
		.cards.relative .card {
			position: relative;
			display: block;
			margin-bottom: 15px;
		}
			.cards .card p {
				padding: 25px 25px 25px;
			}
				.cards .card.name-card {
					background-color: #999 !important;
				}
				.cards .card.name-card h2 {
					padding: 55px 0;
					color: white;
					text-shadow: 1px 2px 2px rgba(0,0,0,0.35);
				}
			.cards .card span {
				padding: 10px 0 20px 0;
				text-align: center;
				line-height: 35px;
				vertical-align: top;
			}
				.cards .card span i {
					font-size: 35px;
					padding-right: 10px;
				}

		.cards .card:nth-child(3) {
			width: 98%;
			margin: 8px 1% 0 !important;
			z-index: 999999;
		}
		.cards .card.current {
			margin: 0 0 15px !important;
			width: 100%;
			z-index: 99999999;
			background-color: white;
			box-shadow: none;
		}

		#feed.cards .card {
			background-color: #acdff6;
		}
		#feed.cards .card:nth-child(2) {
			margin: 16px 0 15px !important;
			width: 100%;
			background-color: white;
			box-shadow: none !important;
		}

		.cards .card.current.transparent {
			background-color: transparent;
			color: white;
			border: 0;
		}
		.cards .card.current.contact {
			position: relative;
			margin: 0;
			border-top: 0;
		}
			.cards .card.current.contact h2 {
				display: block;
				padding: 15px 0 15px 25px;
				line-height: 30px;
				text-align: left;
			}
			.cards .card.current.contact img {
				height: 50px;
				margin: 5px 0;
				display: inline-block;
				vertical-align: top;
				float: left;
			}
		.cards.stack .card.current {
			margin: 10px 0 0;
		}
		.cards .card .gesture-handle {
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(0,0,0,0);
			width: 100%;
			height: 100%;
		}
		.cards .card .summary a {
			text-decoration: none;
			color: #4c4c4c;
		}
		#feed .card.keepAlive {
			animation: animationKeepDOMActive 1s infinite;
			-webkit-animation: animationKeepDOMActive 1s infinite;
		}
		#feed .card {
			box-shadow: 0 2px 15px rgba(40, 162, 214, 0.5);
		}
		#feed .card:nth-child(1) {
			z-index: 9999999999999;
		}
		#feed .card:nth-child(2) {
			z-index: 99999999999;
		}
		@keyframes animationKeepDOMActive {
		  0%   { opacity: 1; }
		  100% { opacity: 1; }
		}
		@-webkit-keyframes animationKeepDOMActive {
			0%   { opacity: 1; }
			100% { opacity: 1; }
		}

	.container > div > .button-holder {
		position: fixed;
		bottom: 25px;
		left: 10%;
		border: 0;
		height: 60px;
		width: 80%;
		z-index: 999999;
		background-color: rgba(255,255,255,.75);
		border-radius: 100px;
		overflow: hidden;
	}
		.container > div > .button-holder button {
			color: #2798D4;
			width: 50%;
			height: 60px;
			-webkit-transition: 0;
			transition: 0;
			border-top: 0;
		}
		.container > div > .button-holder button.dislike.selected,
		.container > div > .button-holder button.dislike:active {
			color: white;
			background-color: #D42727;
		}
		.container > div > .button-holder button.like.selected,
		.container > div > .button-holder button.like:active {
			background-color: #27D42E;
			color: white;
		}
		.container > div > .button-holder button:first-child {
			background: center right linear-gradient(#2798D4, #2798D4) no-repeat;
			background-size: 1px 60%;
		}
		.container > div > .button-holder button:last-child {
			background: center left linear-gradient(#2798D4, #2798D4) no-repeat;
			background-size: 1px 60%;
		}

	.container img.fullScreen {
		width: 100%;
		position: absolute;
		left: 0;
		top: 48px;
	}


.form-section #images > * {
	display: none;
}

.form-section #images > *:nth-child(1) {
	display: block;
	border-radius: 5px;
	vertical-align: top;
	background-size: cover;
	background-position: center;
	background-color: rgba(0,0,0,0.25);
	width: 98%;
	height: 250px;
	border-radius: 10px;
	margin: 10px 1% 0;
	color: white;
	line-height: 250px;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 2px 15px rgba(0,0,0,0.25);
}

.form-section #images > *:nth-child(2),
.form-section #images > *:nth-child(3),
.form-section #images > *:nth-child(4),
.form-section #images > *:nth-child(5) {
	display: inline-block;
	border-radius: 5px;
	vertical-align: top;
	background-size: cover;
	background-position: center;
	background-color: rgba(0,0,0,0.25);
	width: 23%;
	height: 125px;
	border-radius: 10px;
	margin: 10px 1% 0;
	color: white;
	line-height: 125px;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 2px 15px rgba(0,0,0,0.25);
}

.form-section #images > button {
	border: 3px dashed rgba(0,0,0,0.25);
	background: transparent !important;
	color: rgba(0,0,0,0.25) !important;
	font-weight: bold;
	font-size: 40px !important;
	border-radius: 10px;
	text-align: center;
	line-height: 24px !important;
	text-shadow: none !important;
	padding: 0 !important;
}

.container.ng-enter,
.container.ng-leave {
    -webkit-transition: all .1s linear !important;
    -moz-transition: all .1s linear !important;
    -o-transition: all .1s linear !important;
    transition: all .1s linear !important;
}
.container.ng-enter { opacity: 0 !important; }
.container.ng-enter-active { opacity: 1 !important; }
.container.ng-leave { opacity: 1 !important; }
.container.ng-leave-active { opacity: 0 !important; -webkit-transform: translate(350px,0); transform: translate(350px,0); }

.repeat-animation.ng-leave {
	opacity: 1 !important;
	-webkit-transition: .25s linear all !important;
	-moz-transition: .25s linear all !important;
	-o-transition: .25s linear all !important;
	transition: .25s linear all !important;
}
.repeat-animation.ng-leave.ng-leave-active { opacity: 0 !important; }
.repeat-animation.ng-enter {
	opacity: 0 !important;
	-webkit-transition: .25s linear all !important;
	-moz-transition: .25s linear all !important;
	-o-transition: .25s linear all !important;
	transition: .25s linear all !important;
}

.repeat-animation.ng-enter.ng-enter-active { opacity: 1 !important; }

/*
	POPUP
*/

#popup {
	display: block;
	height: 100%;
	width: 100%;
	padding: 75px 25px;
	margin: 0;

	position: fixed;
	top: 0;
	left: 0;

	z-index: 99999999999999999999999999;
	background-color: rgba(0,0,0,0.5);
}
	#popup .card {
		border: 0;
		max-width: 400px;
		margin: 0 auto 15px;
	}
		#popup .card h2 {
			padding: 25px 0;
		}
	#popup .images {
		position: relative;
		height: 125px;
		width: 100%;
		display: block;
		background-color: #fff;
	}
		#popup .images .image {
			display: block;
			height: 125px;
			background-position: center;
			background-size: cover;
			width: 50%;
			position: absolute;
			top: 0;
			box-shadow: 0 1px 1px 0px rgba(0,0,0,0.5);
			text-align: center;
			line-height: 125px;
			font-size: 30px;
			word-wrap: break-word;
			color: white;
		}
		#popup .images .image1 {
			left: 0;
   			-webkit-transform: rotate(-10deg);
   			background-color: #4956de;
		}
		#popup .images .image2 {
			left: 50%;
   			-webkit-transform: rotate(10deg);
   			background-color: #d94c30;
   		}

/*
	CHAT
*/

        #content {
            padding: 0;
            height: 100%;
            width: 100%;
            display: block;
            padding-bottom: 65px;
        }
        #inputDiv {
            position: fixed;
            display: block;
            width: 100%;
            bottom: 0;
            left: 0;
        }
        #inputDiv #input {
            border-radius: 0;
            border: 0;
            outline: none;
            margin: 0;
            padding: 14px 15px;
            width: 100%;
            font-size: 1em;
           	background-color: #fff;
           	box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
           	color: #2798D4;
        }
        #inputDiv #input::-webkit-input-placeholder {
			color: #2798D4;
        }
        #inputDiv #input:-moz-placeholder {
			color: #2798D4;
        }
        #inputDiv #input::-moz-placeholder {
			color: #2798D4;
        }
        #inputDiv #input:-ms-input-placeholder {
			color: #2798D4;
		}
        .chatMessage {
            display: block;
            width: 100%;
            padding: 3px 0;
            color: rgba(0,0,0,0.35);
            font-size: .75em;
        }
            .chatMessage span {
                display: inline-block;
                width: auto;
                max-width: 400px !important;
                background-color: white;
                padding: 10px 15px 5px;
                margin-bottom: 2px;
                color: #4c4c4c;
                font-size: 1.05em;
                box-shadow: 0 1px 1px 0px rgba(0,0,0,0.08);
                line-height: 1.8em;
            }
	            .chatMessage span small {
					display: block;
					color: rgba(0,0,0,0.35);
				}
        .myMessage {
            text-align: right;
        }

/*
 *	LOADER
 */

.loader {
	display: block;
	position: relative;
}
	.loader span {
		padding: 0 !important;
	}

.loaderA{
	content: "";
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -6px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
  -webkit-animation-name: loaderA;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;

  -moz-animation-name: loaderA;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;

  -o-animation-name: loaderA;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in-out;

  animation-name: loaderA;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loaderMain {
	position: relative;
	display: block;
	width: 12px;
	height: 12px;
	margin: 20px auto;
	border-radius: 12px;
	background-color: #fff;
}
	button .loaderMain, .btn .loaderMain {
		margin: 0 auto;
	}


.loaderB{
	content: "";
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -6px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
  -webkit-animation-name: loaderB;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;

  -moz-animation-name: loaderB;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;

  -o-animation-name: loaderB;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in-out;

  animation-name: loaderB;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


@-webkit-keyframes loaderA {
	0%{		margin-left: -31px; background-color: rgba(255, 255, 255, .5); }
	50%{	margin-left: 19px;  background-color: rgba(255, 255, 255, 1); }
	100%{	margin-left: -31px;  background-color: rgba(255, 255, 255, .5); }
}
@-webkit-keyframes loaderB {
	0%{		margin-left: 19px; background-color: rgba(255, 255, 255, .5); }
	50%{	margin-left: -31px;  background-color: rgba(255, 255, 255, 1); }
	100%{	margin-left: 19px;  background-color: rgba(255, 255, 255, .5); }
}

@-moz-keyframes loaderA {
	0%{		margin-left: -31px; background-color: rgba(255, 255, 255, .5); }
	50%{	margin-left: 19px;  background-color: rgba(255, 255, 255, 1); }
	100%{	margin-left: -31px;  background-color: rgba(255, 255, 255, .5); }
}
@-moz-keyframes loaderB {
	0%{		margin-left: 19px; background-color: rgba(255, 255, 255, .5); }
	50%{	margin-left: -31px;  background-color: rgba(255, 255, 255, 1); }
	100%{	margin-left: 19px;  background-color: rgba(255, 255, 255, .5); }
}

@-o-keyframes loaderA {
	0%{		margin-left: -31px; background-color: rgba(255, 255, 255, .5); }
	50%{	margin-left: 19px;  background-color: rgba(255, 255, 255, 1); }
	100%{	margin-left: -31px;  background-color: rgba(255, 255, 255, .5); }
}
@-o-keyframes loaderB {
	0%{		margin-left: 19px; background-color: rgba(255, 255, 255, .5); }
	50%{	margin-left: -31px;  background-color: rgba(255, 255, 255, 1); }
	100%{	margin-left: 19px;  background-color: rgba(255, 255, 255, .5); }
}

@keyframes loaderA {
	0%{		margin-left: -31px; background-color: rgba(255, 255, 255, .5); }
	50%{	margin-left: 19px;  background-color: rgba(255, 255, 255, 1); }
	100%{	margin-left: -31px;  background-color: rgba(255, 255, 255, .5); }
}
@keyframes loaderB {
	0%{		margin-left: 19px; background-color: rgba(255, 255, 255, .5); }
	50%{	margin-left: -31px;  background-color: rgba(255, 255, 255, 1); }
	100%{	margin-left: 19px;  background-color: rgba(255, 255, 255, .5); }
}
